{% extends "base.html" %}
{% block title %}Add Announcement{% endblock %}

{% block content %}

<h1>Add Announcements</h1>
<div class="container">
    <div class="row">
        <div class="col-12">
<div class="module">
    <h2>Course info</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{form}}


    </div>
        </div>

            <div class="col-12">
                <p><button class="button effect" type="submit" value="Save content">Save Content</button></p>

            </div>
    </form>
    </div>
</div>
{%endblock%}