{% extends "base.html" %}

{% block title %}Announcements{% endblock %}
{% block h1 %}
    <h1>Announcements</h1>
{% endblock %}
{% block content %}

    <!-- Blog Entries Column -->
    <div class="col-12">
        {% if not courses %}
            <h3>You are not linked to any courses</h3>
        {% else %}
            <div class="navbar">
                {% for course in courses %}
                    <p data-value="{{ course.id }}"
                       data-function="updateAnnouncements">{{ course.title }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <pre id="response-pre"></pre>
        <div id="announcement-container">

        </div>
    </div>
{% endblock %}

{% block extrajavascript %}
    <script>

        /**
         *
         * @param {Object} announcements
         */
        function setAnnouncements(announcements) {
            let container = $('#announcement-container').html('');
            for (let announcement of announcements) {
                let field = container.append($('<div>'));
                field.addClass('contents');
                field.append($('<h4>').text(announcement.title))
                field.append($('<pre>').text(announcement.content))
                field.append($('<p>').text(announcement.author).addClass('caption'))
            }
        }

        function updateAnnouncements(courseId) {
            standardAjaxCall(
                '/announcements/getAnnouncementsAjax',
                {
                    "course": courseId
                },
                function (response) {
                    standardSuccessResponse('', $('#response-pre'));
                    if (response.announcements !== undefined)
                        setAnnouncements(response.announcements);
                },
                function (response) {
                    standardErrorResponse(response, $('#response-pre'));
                }
            );
        }
    </script>
{% endblock %}
