{% extends "student_base.html" %}

{% block title %}Announcements{% endblock %}
{% block h1 %}
    <h1>Announcements</h1>
{% endblock %}
{% block content %}

    <!-- Blog Entries Column -->
    <div class="col-12">
        {% for announcement in object.announcements.all %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ announcement.title }}</h2>
                    <p class="card-text text-muted h6">{{ announcement.author }} | {{ announcement.date_created }} </p>
                    <p class="card-text">{{ announcement.content|slice:":200" }}</p>
                </div>
            </div>
        {% empty %}
            <h3>No announcements yet</h3>
        {% endfor %}
    </div>
{% endblock %}