{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Educate{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-3.5.1.js"></script>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
</head>
<body>
<header>
    <a href="/" class="logo">Logo</a>
    <ul class="menu">
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Sign Out</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Sign In</a></li>
        {% endif %}
    </ul>
</header>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
    $(document).ready(function () {
        {% block domready %}
        {% endblock %}
    });

    /**
     * Validate given input using a regular expression
     * @param {jQuery} input Input element being validated
     * @param {String|String[]} regex Regular expression to compare the input's value against
     *                                Set to array to assess multiple regular expressions
     * @param {boolean|boolean[]} regexIsValid Regex will be treated as a valid condition if true else invalid if false
     *                                         Set to array to treat specific indexes of regex differently
     *                                         Set as single boolean to apply the same condition to all regex values
     */
    function regexValidateInput(input, regex = "", regexIsValid = false) {
        if (typeof regex === "string") {
            regex = [regex];
        }
        if (typeof regexIsValid === 'boolean') {
            let original = regexIsValid;
            regexIsValid = [];
            for (let i = 0; i < regex.length; i++) {
                regexIsValid.push(original);
            }
        }
        // Ensure arrays are of the same length
        while (regex.length < regexIsValid.length) {
            regex.push("");
        }
        while (regexIsValid.length < regex.length) {
            regexIsValid.push(false)
        }
        let valid = true;
        for (let i = 0; i < regex.length; i++) {
            // Match value with all regular expressions
            // Same index value of regexIsValid used to assert if the value should or shouldn't match
            if ((new RegExp(regex[i]).test(input.val())) ^ regexIsValid[i]) {
                valid = false;
                break;
            }
        }
        if (valid) {
            setInputValid(input);
        } else {
            setInputInvalid(input);
        }
    }

    /**
     * Validate given input to confirm a valid option is selected
     * @param {jQuery} input Select element being validated
     */
    function selectValidateInput(input) {
        if (input.find(':selected').prop('disabled')) {
            setInputInvalid(input);
        } else {
            setInputValid(input);
        }
    }

    function setInputValid(input) {
        input.removeClass('invalid').addClass('valid');
    }

    function setInputInvalid(input) {
        input.removeClass('valid').addClass('invalid');
    }

    /**
     * Retrieve json format form data to be submitted
     * @param {jQuery} form Form element to be parsed
     * @return {object} key-value (name-data) object extracted from the form
     */
    function parseFormData(form) {
        let formData = {}
        form.filter(':input').each(function () {
            switch ($(this).attr('type')) {
                case 'text':
                    formData[$(this).attr('name')] = $(this).val() === '' ? null : $(this).val();
                    break;
                case 'checkbox':
                    formData[$(this).attr('name')] = $(this).is(':checked');
                    break;
                case 'select':
                    formData[$(this).attr('name')] = $(this).val();
            }
        });
        return formData;
    }

    /**
     * @param {jQuery} form Form element to be validated
     * @return {boolean} false if inputs are invalid or required inputs are unset else true
     */
    function validateForm(form) {
        let isValid = true;
        form.filter(':input').each(function () {
            isValid = isValid && !$(this).hasClass('invalid');
        })
        form.filter(':input').filter('.required_field').each(function () {
            if (!$(this).hasClass('valid')) {
                isValid = false;
                $(this).addClass('invalid');
            }
        })
        return isValid;
    }

    /**
     * @param {String} responseText Text to be shown
     * @param {jQuery} responseElement Element for the message to be shown on
     */
    function standardSuccessResponse(responseText, responseElement) {
        responseElement.text(responseText);
        responseElement.removeClass('error').addClass('success');
    }

    /**
     * @param {object} response Json response from the server
     * @param {jQuery} responseElement Element for the message to be shown on
     */
    function standardErrorResponse(response, responseElement) {
        // e.g. "Error 500: Internal Server Error"
        switch (response.status) {
            case 422:
                let errorText = ['Invalid Inputs: ']
                for (let item in response.responseJSON.form) {
                    errorText.push(item + " -> " + response.responseJSON.form[item]);
                }
                responseElement.text(errorText.join('\n'));
                responseElement.removeClass('success').addClass('error');
                break;
            default:
                responseElement.text('Error ' + response.status + ': ' + response.statusText);
                responseElement.removeClass('success').addClass('error');
        }
    }
</script>
{% block extrajavascript %}{% endblock %}

</body>
</html>