{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Educate{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-3.5.1.js"></script>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
</head>
<body>
<header>
    <a href="/" class="logo">Logo</a>
    <ul class="menu">
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Sign Out</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Sign In</a></li>
        {% endif %}
    </ul>
</header>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
    $(document).ready(function () {
        {% block domready %}
        {% endblock %}
    });

    /**
     *
     * @param {jQuery} form
     * @param {String} ajaxURL
     * @param {function} success
     * @param {function} error
     */
    function assignStandardFormSetup(form, ajaxURL, success, error) {
        assignFormValidators(form);
        form.submit(function (e) {
            return false;
        });
        form.find(':submit').each(function (index, element) {
            $(element).on('click', function() {
                try {
                    let isValid = validateForm(form);
                    if (!isValid) {
                        form.filter('.response-text').each(function (index, element) {
                            $(element).html('Invalid inputs');
                            $(element).removeClass('success').addClass('error');
                        })
                    }

                    let formData = parseFormData(form);
                    console.log(formData);
                    $.ajax({
                        url: ajaxURL,
                        type: "POST",
                        data: formData,
                        dataType: "json",
                        headers: {"X-CSRFToken": '{{ csrf_token }}'},
                        success: success,
                        error: error,
                    })
                } catch (err) {
                    console.log(err);
                }
            });
        });
    }

    /**
     *
     * @param {jQuery} form
     */
    function assignFormValidators(form) {
        form.find(':input').each(function (index, element) {
            let validationFunction = function () {
            }
            switch ($(element).attr('type')) {
                case 'text':
                    validationFunction = function () {
                        regexValidateInput($(element), '^ +$');
                    }
                    if ($(element).hasClass('validate_text_email')) {
                        validationFunction = function () {
                            regexValidateInput($(element), "^[^.@]+([.][^.@]+)*@[^.@]+[.][^.@]+([.][^.@]+)*$", true);
                        }
                    }
                    if ($(element).hasClass('validate_text_phone_number')) {
                        validationFunction = function () {
                            regexValidateInput($(element), ['^ *$', '[0-9]'], [false, true]);
                        }
                    }
                    if ($(element).hasClass('validate_text_not_empty')) {
                        validationFunction = function () {
                            regexValidateInput($(element), '^ *$');
                        }
                    }

                    if ($(element).val() !== null && $(element).val() !== '') {
                        validationFunction();
                    }
                    $(element).on('input', validationFunction)
                    break;
            }
        });
        form.find('select').each(function (index, element) {
            $(element).on('change', function () {
                selectValidateInput($(element));
            })
        })
    }

    /**
     * Validate given input using a regular expression
     * @param {jQuery} input Input element being validated
     * @param {String|String[]} regex Regular expression to compare the input's value against
     *                                Set to array to assess multiple regular expressions
     * @param {boolean|boolean[]} regexIsValid Regex will be treated as a valid condition if true else invalid if false
     *                                         Set to array to treat specific indexes of regex differently
     *                                         Set as single boolean to apply the same condition to all regex values
     */
    function regexValidateInput(input, regex = "", regexIsValid = false) {
        if (typeof regex === "string") {
            regex = [regex];
        }
        if (typeof regexIsValid === 'boolean') {
            let original = regexIsValid;
            regexIsValid = [];
            for (let i = 0; i < regex.length; i++) {
                regexIsValid.push(original);
            }
        }
        // Ensure arrays are of the same length
        while (regex.length < regexIsValid.length) {
            regex.push("");
        }
        while (regexIsValid.length < regex.length) {
            regexIsValid.push(false)
        }
        let valid = true;
        for (let i = 0; i < regex.length; i++) {
            // Match value with all regular expressions
            // Same index value of regexIsValid used to assert if the value should or shouldn't match
            if ((new RegExp(regex[i]).test(input.val())) ^ regexIsValid[i]) {
                valid = false;
                break;
            }
        }
        if (valid) {
            setInputValid(input);
        } else {
            setInputInvalid(input);
        }
    }

    /**
     * Validate given input to confirm a valid option is selected
     * @param {jQuery} input Select element being validated
     */
    function selectValidateInput(input) {
        if (input.find(':selected').prop('disabled')) {
            setInputInvalid(input);
        } else {
            setInputValid(input);
        }
    }

    function setInputValid(input) {
        input.removeClass('invalid').addClass('valid');
    }

    function setInputInvalid(input) {
        input.removeClass('valid').addClass('invalid');
    }

    /**
     * Retrieve json format form data to be submitted
     * @param {jQuery} form Form element to be parsed
     * @return {object} key-value (name-data) object extracted from the form
     */
    function parseFormData(form) {
        let formData = {}
        form.find(':input').each(function (index, element) {
            switch ($(element).prop('tagName')) {
                case 'INPUT':
                    switch ($(element).attr('type')) {
                        case 'text':
                            formData[$(element).attr('name')] = $(element).val() === '' ? null : $(element).val();
                            break;
                        case 'checkbox':
                            formData[$(element).attr('name')] = $(element).is(':checked');
                            break;
                        case 'hidden':
                            formData[$(element).attr('name')] = $(element).val();
                    }
                    break;
                case 'SELECT':
                    formData[$(element).attr('name')] = $(element).val();
                    break;
            }
        });
        return formData;
    }

    /**
     * @param {jQuery} form Form element to be validated
     * @return {boolean} false if inputs are invalid or required inputs are unset else true
     */
    function validateForm(form) {
        let isValid = true;
        form.filter(':input').each(function (index, element) {
            isValid = isValid && !$(element).hasClass('invalid');
        })
        form.filter(':input').filter('.required_field').each(function (index, element) {
            if (!$(element).hasClass('valid')) {
                isValid = false;
                $(element).addClass('invalid');
            }
        })
        return isValid;
    }

    /**
     * @param {String} responseText Text to be shown
     * @param {jQuery} form Form to which the response is originated from
     */
    function standardSuccessResponse(responseText, form) {
        form.find('.response-text').each(function (index, element) {
            $(element).text(responseText);
            $(element).removeClass('error').addClass('success');
        });
    }

    /**
     * @param {object} response Json response from the server
     * @param {jQuery} form Form to which the response is originated from
     */
    function standardErrorResponse(response, form) {
        // e.g. "Error 500: Internal Server Error"
        form.find('.response-text').each(function (index, element) {
            switch (response.status) {
                case 422:
                    let errorText = ['Invalid Inputs: ']
                    for (let item in response.responseJSON.form) {
                        errorText.push(item + " -> " + response.responseJSON.form[item]);
                    }
                    $(element).text(errorText.join('\n'));
                    $(element).removeClass('success').addClass('error');
                    break;
                default:
                    if (response.responseJSON !== undefined &&
                        response.responseJSON.responseMessage !== undefined) {
                        $(element).text(response.responseJSON.responseMessage);
                    } else {
                        $(element).text('Error ' + response.status + ': ' + response.statusText);
                    }
                    $(element).removeClass('success').addClass('error');
            }
        })
    }
</script>
{% block extrajavascript %}{% endblock %}

</body>
</html>