{% extends "base.html" %}
{% load course %}

{% block title %}
    Module {{ module.order|add:1 }}:{{ module.title }}
{% endblock %}
{% block content %}
    {% with course=module.course %}
        <h1>Course "{{ course.title }}"</h1>
        <h2>Quiz {{ quiz.id }}</h2>
        <div class="plain-text-area">
            <h3>Questions:</h3>
            <hr>
            <div>
                {% for question in quiz.questions.all %}
                    <div id="module-contents">
                        <p>{{ question.number }}. {{ question.question_text }}</p>
                        {% for choice in question.choices.all %}
                            <p>{{ choice.choice_text }}</p>
                        {% endfor %}


                        <form action="{% url "courses:question_delete" question.id %}" method="post">

                            <a class="link-button" style="float:left; color: #000000;"
                               href="{% url 'courses:edit_choices' module.id quiz.id question.id %}"><span
                                    class="fas fa-edit"></span>Edit
                                Question</a>
                            <button class="link-button" style="margin-left: 10px" type="submit"
                                    value="Delete Question"><span
                                    class="fas fa-check-circle"></span>Delete Question
                            </button>
                            {% csrf_token %}
                        </form>
                        <hr>
                    </div>
                {% empty %}
                    <p>This quiz has no questions yet</p>
                {% endfor %}
                <hr>
                <div>
                    <a class="link-button"
                       href="{% url 'courses:quiz_questions_create' module.id quiz.id %}">
                        <span class="fas fa-plus-square"></span> Add Questions</a>
                </div>
                <br>
            </div>
        </div>

    {% endwith %}
{% endblock %}
{% block extrajavascript %}
    <script>
        $(document).ready(function () {
            $('#module-list').sortable({
                stop: function (event, ui) {
                    modules_order = {};
                    $('#module-list').children().each(function () {
                        $(this).find('.order').text($(this).index() + 1);
                        modules_order[$(this).data('id')] = $(this).index();
                    });
                    $.ajax({
                        type: 'POST',
                        url: '{% url "courses:module_order" %}',
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        data: JSON.stringify(modules_order)
                    });
                }
            });

            $('#module-contents-list').sortable({
                stop: function (event, ui) {
                    contents_order = {};
                    $('#module-contents-list').children().each(function () {
                        contents_order[$(this).data('id')] = $(this).index();
                    });

                    $.ajax({
                        type: 'POST',
                        url: '{% url "courses:content_order" %}',
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        data: JSON.stringify(contents_order),
                    });
                }
            });
        });
    </script>

{% endblock %}