{% extends "base.html" %}
{% load course %}

{% block title %}
    {% if object %}
        Edit content "{{ object.title }}"
    {% else %}
        Add new content
    {% endif %}
{% endblock %}
{% block content %}
    {% with course=module.course %}
        <h1>
            {{ course.title }}
        </h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="contents">
                        <h3>Modules</h3>
                        <ul id="modules">
                            {% for m in course.modules.all %}
                                <li data-id="{{ m.id }}"{% if m == module %}
                                    class="selected"{% endif %}>
                                    <a href="{% url "courses:module_list" m.id %}">
                                    <span>
                                        Module<span class="order">
                                        {{ m.order|add:1 }}
                                    </span>
                                    </span>
                                        <br>
                                        {{ m.title }}
                                    </a>
                                </li>
                            {% empty %}
                                <li>No modules yet</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-9">

                    <div class="module">
                        <form id="form-container" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ question_formset.management_form }}
                            {{ question_formset.non_form_errors }}
                            {% for form in question_formset %}
                                <div class="question_formset">
                                    {{ form }}
                                </div>

                                <div class="choices_management_form">
                                    {% if form.nested %}
                                        {{ form.nested.management_form }}
                                        {{ form.nested.non_form_errors }}
                                        {% for f in form.nested %}
                                            <div class="choices_formset">
                                                {{ f }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endfor %}

                            <button id="add-choices-form" type="button">Add Choice</button>
                            <button id="add-form" type="button">Add Question</button>
                            <button type="submit">Save Questions</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endwith %}
    <script>



        let questionForm = document.querySelectorAll(".question_formset")
        let choicesForm = document.querySelectorAll(".choices_formset")
        let choicesManagementForm = document.querySelectorAll(".choices_management_form")
        let container = document.querySelector("#form-container")
        let addButton = document.querySelector("#add-form")
        let addButtonChoices = document.querySelector("#add-choices-form")
        let totalForms = document.querySelector("#id_questions-TOTAL_FORMS")
        let totalChoicesForm = document.querySelector("#id_choices-questions-0-choices-TOTAL_FORMS")



        let formNum = questionForm.length - 1
        let choicesFormNum = choicesForm.length - 1

        let totalChoicesFormList = [
            {label: formNum, value: totalChoicesForm} ]

        addButton.addEventListener('click', addForm)
        addButtonChoices.addEventListener('click', addChoicesForm)

        /**
         * Function activated when user clicks 'adds question'.
         * When button is clicked a new form is created and rendered
         * underneath the previous question
         * @param e
         */

        function addForm(e) {
            e.preventDefault()

            let newForm = questionForm[0].cloneNode(true)
            let formRegex = RegExp(`questions-(\\d){1}-`, 'g')
            let newChoiceForm = choicesManagementForm[0].cloneNode(true)

            formNum++
            choicesFormNum = 0

            newChoiceForm.innerHTML = newChoiceForm.innerHTML.replace(formRegex, `questions-${formNum}-`)
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `questions-${formNum}-`)
            totalChoicesForm.innerHTML = totalChoicesForm.innerHTML.replace(formRegex, `questions-${formNum}-`)
            totalChoicesFormList.push({label: formNum, value: totalChoicesForm })


            container.insertBefore(newForm, addButton)
            container.insertBefore(newChoiceForm, addButton)
            container.insertBefore(addButtonChoices, addButton)
            totalForms.setAttribute('value', `${formNum + 1}`)

        }

        /**
         * Function activated when user clicks on 'add choice'.
         * When button is clicked a new choice form will appear
         * underneath the previous choice form
         * @param e
         */

        function addChoicesForm(e) {
            e.preventDefault()

            let newForm = choicesForm[0].cloneNode(true)
            let formRegex = RegExp(`questions-(\\d){1}-choices-(\\d){1}-`, 'g')

            choicesFormNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `questions-${formNum}-choices-${choicesFormNum}-`)
            container.insertBefore(newForm, addButtonChoices)

            totalChoicesFormList[formNum].value.setAttribute('value', `${choicesFormNum + 1}`)
        }
    </script>
{% endblock %}
