{% extends "base.html" %}
{% load course %}
{% block title %}
    Module {{ module.order|add:1 }}:{{ module.title }}
{% endblock %}
{% block navigation %}
    <a href="{% url 'courses:manage_course_list' %}">Your Courses</a>/
    <a href="{% url 'courses:module_list' module.id %}">Modules</a>/
    <a href="{% url 'courses:quiz_list_view' module.id %}">Quizzes</a>/
{% endblock %}

{% block content %}
    {% with course=module.course %}
        <h1>Course "{{ course.title }}"<br>Module {{ module.order|add:1 }} "{{ module.title }}"</h1>
        <a href="{% url 'courses:module_list' module.id %}"
           class="link-button" style="width: 100%">
            Back to Module Management
        </a>
        <h2>Quizzes</h2>

        {% for quiz in module.quizzes.all %}
            <div class="plain-text-area">
                <a href="{% url 'courses:quiz_edit' module.id quiz.id %}">
                    <h3>{{ quiz.title }} <span class="fas fa-edit" style="display: inline"></span></h3>
                </a>
                <p>{{ quiz.description }}</p>
            </div>
        {% empty %}
            <p>This module has no quizzes yet</p>
        {% endfor %}
    {% endwith %}
{% endblock %}
{% block extrajavascript %}
    <script>
        $(document).ready(function () {
            $('#module-list').sortable({
                stop: function (event, ui) {
                    modules_order = {};
                    $('#module-list').children().each(function () {
                        $(this).find('.order').text($(this).index() + 1);
                        modules_order[$(this).data('id')] = $(this).index();
                    });
                    $.ajax({
                        type: 'POST',
                        url: '{% url "courses:module_order" %}',
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        data: JSON.stringify(modules_order)
                    });
                }
            });

            $('#module-contents-list').sortable({
                stop: function (event, ui) {
                    contents_order = {};
                    $('#module-contents-list').children().each(function () {
                        contents_order[$(this).data('id')] = $(this).index();
                    });

                    $.ajax({
                        type: 'POST',
                        url: '{% url "courses:content_order" %}',
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        data: JSON.stringify(contents_order),
                    });
                }
            });
        });
    </script>

{% endblock %}