{% extends "base.html" %}

{% block title %}
    Account {{ user_details.userid }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="profile">
    <div id="user-details-div" style="margin-bottom: 10%;font-size: x-large;">
        <p>User ID: {{ user_details.userid }}</p>
        <p>Full Name: {{ user_details.firstname }} {{ user_details.lastname }}</p>
             <p>Contact Details</p>
        <div id="contacts-div" style="overflow: hidden">

            <table>
                {% for k, v in user_details.contacts.items %}
                    <tr>
                        <th>{{ k }}:</th> <th>{{ v }}</th>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div id="user-status-div" style="float: right">
        {% if user_details.online %}
            <div class="dot" style="background-color: #44FF66; float: right"></div>
        {% else %}
            <div class="dot" style="background-color: #FF0000; float: right"></div>
        {% endif %}
        {% if user_details.superuser %}
            <p>Admin</p>
        {% endif %}
        {% if user_details.staff %}
            <p>Staff</p>
        {% endif %}
        {% if user_details.student %}
            <p>Student</p>
        {% endif %}
    </div>
        </div>
    </div>

        <div class="col-12">
        <p class="buttons">
        <button class="button effect"><a href="/account/profile/{{ user_details.userid }}">Account</a></button>
        <button class="button effect" ><a href="/account/edit/{{ user_details.userid }}">Settings</a></button>
        <button class="button effect" ><a href="/account/analytics/{{ user_details.userid }}">Analytics</a></button>
</div>





    </div>
</div>
{% endblock %}