{% extends "accounts/account_view/account_view_base.html" %}

{% block account_view_content %}
    <div id="user-details-div" style="float: left">
        <p>UserID: {{ user_details.userid }}</p>
        <p>Name: {{ user_details.firstname }} {{ user_details.lastname }}</p>
        <div id="contacts-div" style="overflow: hidden">
            <table style="border: 1px solid black">
                <th>Contacts</th>
                {% for contact in user_details.contacts %}
                    <tr>
                        <th>{{ contact.show_as }}:</th> <th>{{ contact.value }}</th>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div id="user-status-div" style="float: right">
        {% if user_details.online %}
            <div class="dot" style="background-color: #44FF66; float: right"></div>
        {% else %}
            <div class="dot" style="background-color: #FF0000; float: right"></div>
        {% endif %}
        {% if user_details.superuser %}
            <p>Admin</p>
        {% endif %}
        {% if user_details.staff %}
            <p>Staff</p>
        {% endif %}
        {% if user_details.student %}
            <p>Student</p>
        {% endif %}
    </div>

{% endblock %}