{% extends "accounts/account_view/account_view_base.html" %}

{% block navigation %}
    <a href="{% url 'accounts:account_view' user_details.userid %}">Profile</a>/
{% endblock %}

{% block account_view_content %}
    <div class="plain-text-area">
        <div style="float: right; width: auto; height: 100%">
            <h3>Permissions</h3>
            {% if user_details.superuser %}
                <p>Admin</p>
            {% endif %}
            {% if user_details.staff %}
                <p>Staff</p>
            {% endif %}
            {% if user_details.student %}
                <p>Student</p>
            {% endif %}
        </div>
        <div id="user-details-div" style="overflow: hidden; width: auto">
            <h3>UID:[{{ user_details.userid }}]</h3>
            <p>Name - {{ user_details.name }}</p>
            {% if user_details.firstname %}
                <p>Full Name - {{ user_details.firstname }} {{ user_details.lastname }}</p>
            {% endif %}
            <h3>Contact Details:</h3>
            <div id="contacts-div" style="overflow: hidden">
                {% for contact in user_details.contacts %}
                    <p>{{ contact.show_as }} - {{ contact.value }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
