{% extends "base.html" %}

{% block title %}
    User Create
{% endblock %}
{% block content %}

    <form id="account-create-form" method="post" action="">
        <table>
            <tr>
                <th><label for="userid" style="clear: left">UserID</label></th>
                <th><input id="userid" type="text" name="userid" style="clear: right"
                           placeholder="&lt autogenerate uid &gt" maxlength="50"></th>
            </tr>
            <tr>
                <th><label for="password" style="clear: left">Password</label></th>
                <th><input id="password" type="text" name="password" style="clear: right"
                           placeholder="&lt autogenerate changme &gt" maxlength="128"></th>
            </tr>
            <tr>
                <th>Details</th>
            </tr>
            <tr>
                <th><label for="first-name" style="clear: left">Firstname</label></th>
                <th><input id="first-name" type="text" name="first_name" style="clear: right"
                           placeholder="Enter first name" maxlength="150"></th>
            </tr>
            <tr>
                <th><label for="last-name" style="clear: left">Lastname</label></th>
                <th><input id="last-name" type="text" name="last_name" style="clear: right"
                           placeholder="Enter last name" maxlength="150"></th>
            </tr>
            <tr>
                <th>Contact</th>
            </tr>
            <tr>
                <th><label for="email" style="clear: left">Email*</label></th>
                <th><input id="email" type="text" name="email" style="clear: right" class="required_field"
                           placeholder="example@email.com" maxlength="254"></th>
            </tr>
            <tr>
                <th><label for="phone" style="clear: left">Phone Number</label></th>
                <th><input id="phone" type="text" name="phone_number" style="clear: right"
                           placeholder="###-####-#######" maxlength="20"></th>
            </tr>
            <tr>
                <th><label for="address" style="clear: left">Term Address</label></th>
                <th><input id="address" type="text" name="term_address" style="clear: right"
                           placeholder="1 Example rd, Example city" maxlength="150"></th>
            </tr>
            <tr>
                <th>Permissions:</th>
            </tr>
            <tr>
                <th><label for="is-student" style="clear: left">Student</label></th>
                <th><input id="is-student" type="checkbox" name="is_student" style="clear: right"></th>
            </tr>
            <tr>
                <th><label for="is-staff" style="clear: left">Staff</label></th>
                <th><input id="is-staff" type="checkbox" name="is_staff" style="clear: right"></th>
            </tr>
            <tr>
                <th><label for="is-admin" style="clear: left">Admin</label></th>
                <th><input id="is-admin" type="checkbox" name="is_superuser" style="clear: right"></th>
            </tr>
            <tr>
                <th><input id="account-create-submit" type="submit" value="Submit"></th>
                <th><span id="response-span"></span></th>
            </tr>
        </table>
    </form>

{% endblock %}
{% block extrajavascript %}
    <script>
        $(document).ready(function () {
            // Form validation functions
            $('#userid').on('input', function() {
                let input = $(this);
                let value = input.val();
                if (!value.match("^ +$")) {
                    input.removeClass("invalid").addClass("valid");
                } else {
                    input.removeClass("valid").addClass("invalid");
                }
            });
            $('#password').on('input', function() {
                let input = $(this);
                let value = input.val()
                if (!value.match("^ +$")) {
                    input.removeClass("invalid").addClass("valid");
                } else {
                    input.removeClass("valid").addClass("invalid");
                }
            });
            $('#first-name').on('input', function() {
                let input = $(this);
                let value = input.val()
                if (!value.match("^ +$")) {
                    input.removeClass("invalid").addClass("valid");
                } else {
                    input.removeClass("valid").addClass("invalid");
                }
            });
            $('#last-name').on('input', function() {
                let input = $(this);
                let value = input.val()
                if (!value.match("^ +$")) {
                    input.removeClass("invalid").addClass("valid");
                } else {
                    input.removeClass("valid").addClass("invalid");
                }
            });
            $('#email').on('input', function () {
                let input = $(this);
                let value = input.val();
                if (value.match("^[^.@]+([.][^.@]+)*@[^.@]+[.][^.@]+([.][^.@]+)*$")) {
                    input.removeClass("invalid").addClass("valid");
                } else {
                    input.removeClass("valid").addClass("invalid");
                }
            });
            $('#phone').on('input', function() {
                let input = $(this);
                let value = input.val()
                if (!value.match("^ +$") && value.match("[0-9]")) {
                    input.removeClass("invalid").addClass("valid");
                } else {
                    input.removeClass("valid").addClass("invalid");
                }
            });
            $('#address').on('input', function() {
                let input = $(this);
                let value = input.val()
                if (!value.match("^ +$")) {
                    input.removeClass("invalid").addClass("valid");
                } else {
                    input.removeClass("valid").addClass("invalid");
                }
            });

            // Prevent form from ever redirecting
            $('#account-create-form').submit(function(e) {
                return false;
            });
            // Call ajax on form submit
            $('#account-create-submit').click(function(e) {
                let isValid = true;
                let form = $('#account-create-form *');
                let formData = {}

                // Ensure no inputs are invalid
                form.filter(':input').each(function () {
                    isValid = isValid && !$(this).hasClass('invalid');
                    switch ($(this).attr('type')) {
                        case 'text':
                            formData[$(this).attr('name')] = $(this).val() === '' ? null : $(this).val();
                            break;
                        case 'checkbox':
                            formData[$(this).attr('name')] = $(this).is(':checked');
                            break;
                    }
                })
                // Ensure all required inputs are valid
                form.filter(':input').filter('.required_field').each(function () {
                    if (!$(this).hasClass('valid')) {
                        isValid = false;
                        $(this).addClass("invalid")
                    }
                })

                if (!isValid) {
                    let responseSpan = $('#response-span');
                    responseSpan.html('Invalid inputs');
                    responseSpan.removeClass('success').addClass('error');
                    return;
                }
                console.log(formData);

                $.ajax({
                    url: "createAccountAjax",
                    type: "POST",
                    data: formData,
                    dataType: "json",
                    headers: {"X-CSRFToken": '{{ csrf_token }}'},
                    success: function(response) {
                        let responseSpan = $('#response-span');
                        responseSpan.html('Success!');
                        responseSpan.removeClass('error').addClass('success');
                    },
                    error: function(response) {
                        console.log(response);
                        let responseSpan = $('#response-span');
                        // e.g. "Error 500: Internal Server Error"
                        responseSpan.html('Error ' + response.status + ': ' + response.statusText);
                        responseSpan.removeClass('success').addClass('error');
                    }
                });
            });
        })
    </script>
{% endblock %}
