{% extends "base.html" %}

{% block title %}
    User Create
{% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="create">
    <form id="account-create-form" method="post" action="">
                <p><label for="userid">UserID</label>
                <input id="userid" type="text" name="userid"
                           placeholder="&lt autogenerate uid &gt" maxlength="50"></p>

        <p><label for="password">Password</label>
                <input id="password" type="text" name="password"
                           placeholder="&lt autogenerate changme &gt" maxlength="128"></p>

                <h2>Details</h2>

                <p><label for="first-name">Firstname</label>
                <input id="first-name" type="text" name="first_name"
                           placeholder="Enter first name" maxlength="150"></p>

                <p><label for="last-name" >Lastname</label>
        <input id="last-name" type="text" name="last_name"
                           placeholder="Enter last name" maxlength="150"></p>

                <h2>Contact</h2>

                <p><label for="email">Email*</label>
        <input id="email" type="text" name="email" class="required_field"
                           placeholder="example@email.com" maxlength="254"></p>

                <p><label for="phone">Phone Number</label>
                <input id="phone" type="text" name="phone_number"
                           placeholder="###-####-#######" maxlength="20"></p>

                <p><label for="address" >Term Address</label>
                <input id="address" type="text" name="term_address"
                           placeholder="1 Example rd, Example city" maxlength="150"></p>

                <h2>Permissions:</h2>

                <p><label for="is-student" >Student</label>
               <input id="is-student" type="checkbox" name="is_student" ></p>

                <p><label for="is-staff" >Staff</label>
                <input id="is-staff" type="checkbox" name="is_staff" ></p>

                <p><label for="is-admin" >Admin</label>
               <input id="is-admin" type="checkbox" name="is_superuser" ></p>

        </div>
    </div>


                <div class="col-12">
            <p><button class="button effect" id="account-create-submit" type="submit" value="Submit">Create Account</button></p>
        </div>
    </form>






</div>
</div>

{% endblock %}
{% block extrajavascript %}
    <script>
        $(document).ready(function () {
            // Form validation functions
            $('#userid').on('input', function() {
                let input = $(this);
                let value = input.val();
                if (!value.match("^ +$")) {
                    input.removeClass("invalid").addClass("valid");
                } else {
                    input.removeClass("valid").addClass("invalid");
                }
            });
            $('#password').on('input', function() {
                let input = $(this);
                let value = input.val()
                if (!value.match("^ +$")) {
                    input.removeClass("invalid").addClass("valid");
                } else {
                    input.removeClass("valid").addClass("invalid");
                }
            });
            $('#first-name').on('input', function() {
                let input = $(this);
                let value = input.val()
                if (!value.match("^ +$")) {
                    input.removeClass("invalid").addClass("valid");
                } else {
                    input.removeClass("valid").addClass("invalid");
                }
            });
            $('#last-name').on('input', function() {
                let input = $(this);
                let value = input.val()
                if (!value.match("^ +$")) {
                    input.removeClass("invalid").addClass("valid");
                } else {
                    input.removeClass("valid").addClass("invalid");
                }
            });
            $('#email').on('input', function () {
                let input = $(this);
                let value = input.val();
                if (value.match("^[^.@]+([.][^.@]+)*@[^.@]+[.][^.@]+([.][^.@]+)*$")) {
                    input.removeClass("invalid").addClass("valid");
                } else {
                    input.removeClass("valid").addClass("invalid");
                }
            });
            $('#phone').on('input', function() {
                let input = $(this);
                let value = input.val()
                if (!value.match("^ +$") && value.match("[0-9]")) {
                    input.removeClass("invalid").addClass("valid");
                } else {
                    input.removeClass("valid").addClass("invalid");
                }
            });
            $('#address').on('input', function() {
                let input = $(this);
                let value = input.val()
                if (!value.match("^ +$")) {
                    input.removeClass("invalid").addClass("valid");
                } else {
                    input.removeClass("valid").addClass("invalid");
                }
            });

            // Prevent form from ever redirecting
            $('#account-create-form').submit(function(e) {
                return false;
            });
            // Call ajax on form submit
            $('#account-create-submit').click(function(e) {
                let isValid = true;
                let form = $('#account-create-form *');
                let formData = {}

                // Ensure no inputs are invalid
                form.filter(':input').each(function () {
                    isValid = isValid && !$(this).hasClass('invalid');
                    switch ($(this).attr('type')) {
                        case 'text':
                            formData[$(this).attr('name')] = $(this).val() === '' ? null : $(this).val();
                            break;
                        case 'checkbox':
                            formData[$(this).attr('name')] = $(this).is(':checked');
                            break;
                    }
                })
                // Ensure all required inputs are valid
                form.filter(':input').filter('.required_field').each(function () {
                    if (!$(this).hasClass('valid')) {
                        isValid = false;
                        $(this).addClass("invalid")
                    }
                })

                if (!isValid) {
                    let responseSpan = $('#response-span');
                    responseSpan.html('Invalid inputs');
                    responseSpan.removeClass('success').addClass('error');
                    return;
                }
                console.log(formData);

                $.ajax({
                    url: "createAccountAjax",
                    type: "POST",
                    data: formData,
                    dataType: "json",
                    headers: {"X-CSRFToken": '{{ csrf_token }}'},
                    success: function(response) {
                        let responseSpan = $('#response-span');
                        responseSpan.html('Success!');
                        responseSpan.removeClass('error').addClass('success');
                    },
                    error: function(response) {
                        console.log(response);
                        let responseSpan = $('#response-span');
                        // e.g. "Error 500: Internal Server Error"
                        responseSpan.html('Error ' + response.status + ': ' + response.statusText);
                        responseSpan.removeClass('success').addClass('error');
                    }
                });
            });
        })
    </script>
{% endblock %}
