{% extends "base.html" %}

{% block title %}
    Join Course
{% endblock %}
{% block content %}
    <form id="course-join-form" method="post" action="">
        <table>
            <tr>
                <th><label for="email">Email:</label></th>
                <th><input id="email" type="text" name="email"
                           class="required_field validate_text_email"></th>
            </tr>
            <tr>
                <th><label for="subject">Filter Subject:</label></th>
                <th><select id="subject">
                    <option value="all">All</option>
                    {% for subject in subjects %}
                        <option value="{{ subject.id }}">{{ subject.title }}</option>
                    {% endfor %}
                </select></th>
            </tr>
            <tr>
                <th><label for="course">Course:</label></th>
                <th><select id="course" name="course" class="required_field" form="course-join-form">
                </select></th>
            </tr>
            <tr>
                <th>
                    <input id="course-join-submit" type="submit" value="Submit">
                </th>
                <th>
                    <pre class="response-text"></pre>
                </th>
            </tr>
            <tr>
            </tr>
        </table>
    </form>
{% endblock %}

{% block extrajavascript %}
    <script>
        // Generate dictionary of courses to populate course selector with
        let courses = {};
        {% for course in courses %}
            courses[{{ course.id }}] = {
                title: '{{ course.title }}',
                subject: '{{ course.subject.id }}',
            }
        {% endfor %}

        function setCourseList() {
            // Filter course list by selected subject
            let subjectVal = $('#subject').val();
            let courseArray = [];
            if (subjectVal === 'all') {
                for (let key in courses) {
                    courseArray.push({value: key, text: courses[key].title});
                }
            } else {
                for (let key in courses) {
                    if (courses[key].subject === subjectVal) {
                        courseArray.push({value: key, text: courses[key].title});
                    }
                }
            }
            courseArray.sort(function (x, y) {
                return x.text > y.text ? 1 : x.text < y.text ? -1 : 0;
            });
            let courseSelect = $('#course');
            courseSelect.html('<option disabled selected value>--------</option>');
            for (let option of courseArray) {
                courseSelect.append(new Option(option.text, option.value));
            }
        }

        $(document).ready(function () {
            let courseForm = $('#course-join-form');
            assignStandardFormSetup(
                courseForm,
                '/account/courseJoinAjax',
                function (response) {
                    standardSuccessResponse(
                        'Registered ' + $('#email').val() +
                        ' for course ' + $('#course').find('option:selected').text(),
                        courseForm
                    );
                },
                function (response) {
                    standardErrorResponse(response, courseForm);
                },
            );
            setCourseList();
            $('#subject').on('change', function () {
                setCourseList();
            });

            let email = $('#email');
            let userEmail = '{{ request.user.email }}';
            if (userEmail !== '' && userEmail !== 'None') {
                email.val(userEmail);
                {% if not request.user.is_superuser %}
                    email.prop('disabled', true);
                {% endif %}
                email.addClass('valid')
            }
        });
    </script>
{% endblock %}