{% extends "base.html" %}
{% block title %}
    {% if object %}
        Edit course "{{ object.title }}"
    {% else %}
        Create a new course
    {% endif %}
{% endblock %}
{% block navigation %}
    <a href="{% url 'courses:manage_course_list' %}">Your Courses</a>/
    <a href="{% url 'courses:course_edit' object.id %}">Edit {{ object.id }}</a>/
{% endblock %}

{% block content %}
    <h1>
        {% if object %}
            Edit course "{{ object.title }}"
        {% else %}
            Create a new course
        {% endif %}
    </h1>
    <a class="link-button" href="{% url 'courses:manage_course_list' %}">Back to Courses</a>
    <div class="plain-text-area">
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <button class="button effect" type="submit" value="Save course"><span
                    class="fas fa-check-circle"></span> Save Course
            </button>
        </form>
    </div>
{% endblock %}