{% extends "base.html" %}
{% block title %}
    {% if object %}
        Edit course "{{ object.title }}"
    {% else %}
        Create a new course
    {% endif %}
{% endblock %}
{% block navigation %}
    <a href="{% url 'courses:manage_course_list' %}">Your Courses</a>/
    {% if object %}
        <a href="{% url 'courses:course_edit' object.id %}">Edit {{ object.id }}</a>/
    {% else %}
        <a href="{% url 'courses:course_create' %}">Create Course</a>/
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if object %}
            {{ object.title }}
        {% else %}
            Create a new course
        {% endif %}
    </h1>
    <div class="plain-text-area">
        <a class="link-button" href="{% url 'courses:manage_course_list' %}">Back to Courses</a>
        <hr>
        <h3>Edit Course</h3>
        <hr>
        <div class="plain-text-area">
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <button class="link-button" type="submit" value="Save course"><span
                        class="fas fa-check-circle"></span> Save Course
                </button>
            </form>
        </div>
    </div>

{% endblock %}