{% extends "base.html" %}
{% block title %}
    Course: {{ course.title }}
{% endblock %}
{% block navigation %}
    <a href="{% url 'courses:manage_course_list' %}">Your Courses</a>/
{% endblock %}

{% block content %}
    <h1>
        {{ course.title }}
    </h1>
    <div class="plain-text-area">
        <h3>Details</h3>
        Subject:<a href="{% url 'courses:course_list_subject' course.subject.slug %}">{{ course.subject }}</a> -
        Owner:<a href="{% url 'accounts:account_view' course.owner.userid %}">{{ course.owner.styled_name }}</a> -
        {{ c.modules.count }} modules
        <h3>Overview</h3>
        {{ course.overview }}
    </div>
    <div class="fillx-when-small" style="display: inline-block">
        <a class="link-button" href="{% url 'accounts:course_register_autocourse' course.id %}"
           style="width: 100%; display:inline-block">Enroll Now</a>
    </div>
{% endblock %}