{% extends "base.html" %}
{% block title %}
    {% if subject %}
        {{ subject.title }}courses
    {% else %}
        All courses
    {% endif %}
{% endblock %}
{% block navigation %}
    <a href="{% url 'courses:course_list' %}">Courses</a>/
    {% if subject %}
        <a href="{% url 'courses:course_list_subject' subject.slug %}">Courses</a>/
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if subject %}
            {{ subject.title }} courses
        {% else %}
            All courses
        {% endif %}
    </h1>

    <div class="navbar navbar-function-link">
        <h3>Filter Subject:</h3>
        <div>
            <p data-link="{% url 'courses:course_list' %}">All</p>
            {% for s in subject_list %}
                <p data-link="{% url 'courses:course_list_subject' s.slug %}">{{ s.title }} ({{ s.courses.count }})</p>
            {% endfor %}
        </div>
    </div>
    {% for c in course_list %}
        <div class="plain-text-area">
            <h3>
                <a href="{% url 'courses:course_detail' c.slug %}">{{ c.title }}</a>
            </h3>
            Subject:<a href="{% url 'courses:course_list_subject' c.subject.slug %}">{{ c.subject }}</a> -
            Owner:<a href="{% url 'accounts:account_view' c.owner.userid %}">{{ c.owner.styled_name }}</a> -
            {{ c.modules.count }} modules
        </div>
    {% endfor %}
{% endblock %}