{% extends "students/course/detail.html" %}

{% block extrabreadcrumbs %}
    <a href="{% url 'students:quiz_list_student_view_module' course.id module.id %}">Quizzes</a>/
    <a href="{% url 'students:quiz_detail_student_view' course.id module.id quiz.id %}">Quiz:{{ quiz.id }}</a>/
{% endblock %}

{% block subcontent %}
    <h2>{{ quiz.title }}</h2>
    <form action="" method="post">
        {% csrf_token %}
        {% for question in quiz.questions.all %}
            <p>{{ question.number }}. {{ question.question_text }}</p>

            {% csrf_token %}
            {% for choice in question.choices.all %}
                <p style="display: inline; border: 1px solid var(--main-vdark-col); padding: 6px; margin: 0">
                    <input type="radio" id="choice-{{ choice.id }}" name="question-{{ question.id }}"
                           value="{{ choice.choice_text }}" required="required" style="display: inline-block">
                    <label for="choice-{{ choice.id }}" style="display: inline-block">{{ choice.choice_text }}</label>
                </p>
            {% endfor %}
        {% endfor %}
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}