{% extends "students/course/detail.html" %}

{% block extrabreadcrumbs %}
    <a href="{% url 'students:quiz_list_student_view_module' course.id module.id %}">Quizzes</a>
{% endblock %}

{% block subcontent %}
    <div>
        {% for quiz in quiz_list %}
            <div class="link-list">
                <a class="a-header"
                   href="{% url 'students:quiz_detail_student_view' course.id module.id quiz.id %}">
                    {{ quiz.title }}
                </a>
                <div class="plain-text-area">{{ quiz.description }}</div>
            </div>
        {% empty %}
            <p>This module has no quizzes yet</p>
        {% endfor %}
    </div>
{% endblock %}
