{% extends "students/course/detail.html" %}

{% block extrabreadcrumbs %}
    <a href="{% url 'students:quiz_list_student_view_module' course.id module.id %}">Quizzes</a>/
    <a href="{% url 'students:quiz_detail_student_view' course.id module.id quiz.id %}">
        Quiz:{{ quiz.id }}</a>/
{% endblock %}

{% block subcontent %}
    <h2>{{ submission.quiz.title }}</h2>
    <div style="border-bottom: 2px solid var(--main-vdark-col); overflow: hidden">
        <div style="float: left">
            <p>Date submitted: {{ submission.date_submitted }}</p>
            <p>Score: {{ submission.score }}/{{ quiz.questions.count }}</p>
        </div>
        <div style="float: right;">
            <a href="{% url 'students:quiz_list_student_view_module' course.id module.id %}"
               class="link-button" style="width: 100%; display: inline-block">Back to Quizzes</a>
            {% if not overdue %}
                <br>
                <a href="{% url 'students:quiz_detail_student_view_redo' course.id module.id quiz.id%}"
                   class="link-button" style="width: 100%; display: inline-block">Take Again</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
