{% extends "base.html" %}
{% block title %}
    Edit "{{ course.title }}"
{% endblock %}
{% block navigation %}
    <a href="{% url 'courses:manage_course_list' %}">Your Courses</a>/
    <a href="{% url 'courses:course_module_update' course.id %}">Modules</a>/
{% endblock %}

{% block content %}
    <h1>Edit "{{ course.title }}" Modules</h1>
    <a class="link-button" href="{% url 'courses:manage_course_list' %}">Back to Courses</a>
    <form method="post">
        {{ formset }}
        {{ formset.management_form }}
        {% csrf_token %}
        <p>
            <button class="button effect" type="submit" value="Save Modules">
                <span class="fas fa-check-circle"></span> Save Modules
            </button>
        </p>
    </form>
{% endblock %}