{% extends "base.html" %}
{% block title %}
    Module {{ module.order|add:1 }}:{{ module.title }}
{% endblock %}
{% block navigation %}
    <a href="{% url 'courses:manage_course_list' %}">Your Courses</a>/
    <a href="{% url 'courses:module_list' course.id %}">Modules</a>/
{% endblock %}

{% block content %}
        <h1>Course "{{ course.title }}"</h1>
        <a class="link-button" href="{% url 'courses:manage_course_list' %}"
           style="width: 100%; display: inline-block">
            Back to Course List
        </a>
        <h2>Modules</h2>
        {% for m in course.modules.all %}
            <div class="plain-text-area">
                <a {% if not m == module %}href="{% url "courses:module_list" m.id %}"{% endif %}>
                    <h3>Module {{ m.order|add:1 }}: {{ m.title }}</h3>
                </a>
                Assignments: {{ m.assignments.count }} - Content Objects: {{ m.contents.count }}
            </div>
        {% empty %}
            <p>This course has no modules</p>
        {% endfor %}
        <h2>Actions</h2>
        <a class="link-button" href="{% url "courses:course_module_update" course.id %}"
           style="width: 100%; display: inline-block">
            Edit modules
        </a>
        <a class="link-button" href="{% url 'courses:module_content_list' module.id %}"
           style="width: 100%; display: inline-block">
            <span class="fas fa-tasks"></span> Manage Module {{ module.order|add:1 }}:  "{{ module.title }}" Contents
        </a>
        <a class="link-button" href="{% url 'courses:assignment_content_list' module.id %}"
           style="width: 100%; display: inline-block">
            <span class="fas fa-tasks"></span> Manage Module {{ module.order|add:1 }}:  "{{ module.title }}" Assignments
        </a>
        <a class="link-button" href="{% url 'courses:quiz_list_view' module.id %}"
           style="width: 100%; display: inline-block">
            <span class="fas fa-tasks"></span> Manage Module {{ module.order|add:1 }}:  "{{ module.title }}" Quizzes
        </a>

{% endblock %}