{% extends "base.html" %}
{% load course %}
{% block title %}
    {% if object %}
        Edit content "{{ object.title }}"
    {% else %}
        Add new content
    {% endif %}
{% endblock %}
{% block navigation %}
    <a href="{% url 'courses:manage_course_list' %}">Your Courses</a>/
    <a href="{% url 'courses:module_list' module.id %}">Modules</a>/
    <a href="{% url 'courses:assignment_content_list' module.id %}">Assignments</a>/
    <a href="{% url 'courses:assignment_update' module.id assignment.id %}">
        Assignment {{ assignment.order|add:1 }}
    </a>/
    <a href=".">
        {% if object %}
            Edit content {{ object.id }}
        {% else %}
            Add new content
        {% endif %}
    </a>/
{% endblock %}

{% block content %}
    {% with course=module.course %}
        <h1>Course "{{ course.title }}"<br>Module {{ module.order|add:1 }} "{{ module.title }}"</h1>
        <a class="link-button" style="width: 100%"
           href="{% url 'courses:assignment_update' module.id assignment.id %}">
            Back to Assignment
        </a>
        <h2>
            {% if object %}
                Edit content "{{ object.title }}"
            {% else %}
                Add new content
            {% endif %}
        </h2>

        <div class="plain-text-area">
            <form action="" method="post" enctype="multipart/form-data">
                {{ form.as_p }}
                {% csrf_token %}
                <button class="link-button" type="submit" value="Save content"><span class="fas fa-check-circle"></span>
                    Save Content
                </button>
                <br>
            </form>
        </div>
    {% endwith %}
{% endblock %}
