{% extends "base.html" %}
{% load course %}
{% block title %}
    Module {{ module.order|add:1 }}:{{ module.title }}
{% endblock %}
{% block navigation %}
    <a href="{% url 'courses:manage_course_list' %}">Your Courses</a>/
    <a href="{% url 'courses:module_list' module.id %}">Modules</a>/
    <a href="{% url 'courses:assignment_content_list' module.id %}">Assignments</a>/
{% endblock %}

{% block content %}
    {% with course=module.course %}
        <h1>Course "{{ course.title }}"<br>Module {{ module.order|add:1 }} "{{ module.title }}"</h1>
        <a href="{% url 'courses:module_list' module.id %}"
           class="link-button" style="width: 100%">
            Back to Module Management
        </a>
        <h2>Assignments</h2>

        {% for assignment in module.assignments.all %}
            <div class="plain-text-area">
                <a href="{% url 'courses:assignment_update' module.id assignment.id %}">
                    <h3>{{ assignment.title }} <span class="fas fa-edit" style="display: inline"></span></h3>
                </a>
                <p>{{ assignment.description }}</p>
            </div>
        {% empty %}
            <p>This module has no assignments yet</p>
        {% endfor %}

        <a class="link-button" href="{% url 'courses:course_assignment_update' module.id %}">
            <span class="fas fa-plus-square"></span> Create Assignment
        </a>
    {% endwith %}
{% endblock %}
{% block extrajavascript %}
    <script>
        $('#modules').sortable({
            stop: function (event, ui) {
                modules_order = {};
                $('#modules').children().each(function () {
                    $(this).find('.order').text($(this).index() + 1);
                    modules_order[$(this).data('id')] = $(this).index();
                });
                $.ajax({
                    type: 'POST',
                    url: '{% url "courses:module_order" %}',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data: JSON.stringify(modules_order)
                });
            }
        });

        $('#module-contents').sortable({
            stop: function (event, ui) {
                contents_order = {};
                $('#module-contents').children().each(function () {
                    contents_order[$(this).data('id')] = $(this).index();
                });

                $.ajax({
                    type: 'POST',
                    url: '{% url "courses:content_order" %}',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data: JSON.stringify(contents_order),
                });
            }
        });
    </script>
{% endblock %}