{% extends "base.html" %}
{% load course %}

{% block title %}
{% if object %}
Edit content "{{ object.title }}"
{% else %}
Add new content
{% endif %}
{% endblock %}
{% block content %}
{% with course=module.course %}
<h1>
{{ course.title }}
</h1>
<div class="container-fluid">
    <div class="row">

    <div class="col-12 col-md-12">

<div class="module">
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
</div>
        <p><button class="button effect" type="submit" value="Submit"><span class="fas fa-check-circle"></span> Save Assignments</button></p>

    </form>

    </div>
    </div>
</div>
{% endwith %}
{% endblock %}
