{% extends "base.html" %}
{% block content %}

<h1>Calendar</h1>

<div class="container">
    <div class="row">
            <div class="col-6">
	<a class="button effect" style="float:left;" href="{% url 'event_calendar:calendar' %}?{{ prev_month }}"> Previous Month </a>
            </div>
                <div class="col-6">
	<a class="button effect" style="float:right;" href="{% url 'event_calendar:calendar' %}?{{ next_month }}"> Next Month </a>
    </div>

        <div class="table-responsive">

{{ calendar }}
        </div>
    </div>

{% endblock %}