{% extends "base.html" %}
{% load course %}

{% block title %}
    Module {{ module.order|add:1 }}:{{ module.title }}
{% endblock %}

{% block h1 %}
    {% with course=module.course %}
        <h1>Course "{{ course.title }}"</h1>
    {% endwith %}
{% endblock %}



{% block content %}
    <div class="col-12 col-md-3 col-centered">
        <div class="contents">
            <h3>Modules</h3>
            <ul id="modules">
                {% for m in object.modules.all %}
                    <li data-id="{{ m.id }}"
                        {% if m == module %}class="selected"{% endif %}>
                        <a href="{% url 'assignments_list_student_view_module' object.id m.id %}">
                            <span>
                                Module<span class="order">{{ m.order|add:1 }}</span>
                            </span>
                            <br>
                            {{ m.title }}
                        </a>
                    </li>
                {% empty %}
                    <li>No modules yet.</li>
                {% endfor %}
            </ul>
        </div>
    </div>


    <div class="col-12 col-md-9">
        <div class="module">
            <div>
                {% for assignment in module.assignments.all %}
                    <div>
                        <h3>{{ assignment.title }}</h3>
                        <p>{{ assignment.description }}</p>
                        <a href="{% url 'student_assignment_detail' course.id module.id assignment.id %}">View</a>
                    </div>
                {% empty %}
                    <p>This module has no assignments yet</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block domready %}
    $('#modules').sortable({
    stop: function(event, ui){
    modules_order = {};
    $('#modules').children().each(function(){
    $(this).find('.order').text($(this).index() + 1);
    modules_order[$(this).data('id')] = $(this).index();
    });
    $.ajax({
    type: 'POST',
    url: '{% url "module_order" %}',
    contentType: 'application/json; charset=utf-8',
    dataType: 'json',
    data: JSON.stringify(modules_order)
    });
    }
    });

    $('#module-contents').sortable({
    stop: function(event, ui){
    contents_order = {};
    $('#module-contents').children().each(function(){
    contents_order[$(this).data('id')] = $(this).index();
    });

    $.ajax({
    type: 'POST',
    url: '{% url "content_order" %}',
    contentType: 'application/json; charset=utf-8',
    dataType: 'json',
    data: JSON.stringify(contents_order),
    });
    }
    });
{% endblock %}