{% extends "students/course/detail.html" %}

{% block extrabreadcrumbs %}
    <a href="{% url 'students:assignments_list_student_view_module' course.id module.id %}">Assignments</a>
{% endblock %}

{% block subcontent %}
     <div>
        {% for assignment in assignment_list %}
            <div class="link-list">
                <a class="a-header"
                   href="{% url 'students:student_assignment_detail' course.id module.id assignment.id %}">
                    {{ assignment.title }}
                </a>
                <div class="plain-text-area">{{ assignment.description }}</div>
            </div>
        {% empty %}
            <p>This module has no assignments yet</p>
        {% endfor %}
    </div>
{% endblock %}
