{% extends "students/course/detail.html" %}

{% block extrabreadcrumbs %}
    <a href="{% url 'students:assignments_list_student_view_module' course.id module.id %}">Assignments</a>/
    <a href="{% url 'students:student_assignment_detail' course.id module.id assignment.id %}">
        Assignment:{{ assignment.id }}</a>/
    <a href="{% url 'students:assignment_submission' course.id module.id assignment.id %}">Submission</a>/
{% endblock %}

{% block subcontent %}
    <h2>{{ submission.assignment }}</h2>
    <div style="border-bottom: 2px solid var(--main-vdark-col); overflow: hidden">
        <p style="float: left; margin: 0">Date submitted: {{ submission.date_submitted }}</p>
        <a href="{% url 'students:student_assignment_detail' course.id module.id assignment.id %}"
           class="link-button" style="float: right">Back to Assignment</a>
    </div>
{% endblock %}
