{% extends "base.html" %}
{% load course %}

{% block title %}
{% if object %}
Edit content "{{ object.title }}"
{% else %}
Add new content
{% endif %}
{% endblock %}
{% block content %}
{% with course=module.course %}
<h1>
    {% if object %}
    Edit content "{{ object.title }}"
    {% else %}
    Add new content
    {% endif %}
</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-3">
<div class="contents">
    <h3>Modules</h3>
    <ul id="modules">
        {% for m in course.modules.all %}
        <li data-id="{{ m.id }}"{% if m == module %}
        class="selected"{% endif %}>
        <a href="{% url "module_list" m.id %}">
            <span>
                Module<span class="order">
                {{ m.order|add:1 }}
            </span>
            </span>
            <br>
            {{ m.title }}
        </a>
        </li>
    {% empty %}
    <li>No modules yet</li>
    {% endfor %}
    </ul>
</div>
        </div>
                <div class="col-12 col-md-9">
<div class="module" style="margin-top:0;">
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        </div>
                </div>

        <div class="col-12 col-md-9 offset-md-3">
        <p><button class="button effect" type="submit" value="Submit">Submit Assignment</button></p>
    </form>

    </div>
</div>
</div>
{% endwith %}
{% endblock %}
