{% extends "students/course/detail.html" %}

{% block extrabreadcrumbs %}
    <a href="{% url 'students:assignments_list_student_view_module' course.id module.id %}">Assignments</a>/
    <a href="{% url 'students:student_assignment_detail' course.id module.id assignment.id %}">
        Assignment:{{ assignment.id }}</a>/
    <a href="{% url 'students:assignment_submission' course.id module.id assignment.id %}">Submission</a>/
{% endblock %}

{% block subcontent %}
    <h2>{{ assignment.title }}</h2>
    <p style="float: left; margin: 0">Assignment Due: {{ assignment.due_date }}</p>
    <a href="{% url 'students:student_assignment_detail' course.id module.id assignment.id %}"
       class="link-button" style="float: right">Back to Assignment</a>
    <div class="plain-text-area" style="overflow: hidden">
        <form action="" method="post" enctype="multipart/form-data" class="file-submit-form">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit" value="Submit">Submit Assignment</button>
        </form>
    </div>
{% endblock %}
