{% extends "base.html" %}

{% block title %}
    {{ object.title }}
{% endblock %}
{% block navigation %}
    <a href="{% url 'students:student_course_list' %}">Courses</a>/
    <a href="{% url 'students:student_course_detail' object.id %}">Course:{{ course.id }}</a>/
    {% if module %}
        <a href="{% url 'students:student_course_detail_module' object.id module.id %}">Module:{{ module.id }}</a>/
    {% endif %}
{% endblock %}
{% block header %}
    <h1>Course [{{ object.title }}] Modules</h1>
{% endblock %}

{% block content %}
    <div class="navbar navbar-function-link">
        <div class="container-fluid">
    <div class="row" style="width: 120%;">
        {% for module in object.modules.all %}
                <div class="col-12">
            <p data-link="{% url 'students:student_course_detail_module' object.id module.id %}">
                Module: {{ module.id }}<br>{{ module.title }}
            </p>
                        </div>
        {% endfor %}

    </div>
    </div>
                    </div>
        <div class="container-fluid">
    <div class="row">
                <div class="col-12">
    <div class="modules">
        {% for content in module.contents.all %}
            {% with item=content.item %}
                <h2>{{ item.title }}</h2>
                {{ item.render }}
            {% endwith %}
        {% endfor %}
    </div>
        </div>
    </div>
        </div>
{% endblock %}