{% extends "base.html" %}

{% block title %}
    {{ object.title }}
{% endblock %}
{% block navigation %}
    <a href="{% url 'students:student_course_list' %}">Courses</a>/
    <a href="{% url 'students:student_course_detail' course.id %}">Course:{{ course.id }}</a>/
    {% if module %}
        {% url 'students:student_course_detail_module' course.id module.id as module_url%}
        <a href="{{ module_url }}">Module:{{ module.id }}</a>/
    {% endif %}
    {% block extrabreadcrumbs %}{% endblock %}
{% endblock %}
{% block header %}
    <h1>Course: {{ course.title }}<br>Module: {{ module.title }}</h1>
{% endblock %}

{% block content %}
    <div style="height: 100%; overflow: visible">
        {% include 'students/course/module_sidebar.html' %}
        <div style="width: auto; height: 100%; overflow: hidden">
            <div class="navbar navbar-function-link">
                <h3>  Navigate:</h3>
                <div>
                    <p data-link="{% url 'students:module_home_page' course.id module.id %}">Module Home</p>
                    <p data-link="{% url 'students:module_content_view' course.id module.id %}">Content</p>
                    <p data-link="{% url 'students:assignments_list_student_view_module' course.id module.id %}">Assignments</p>
                    <p data-link="{% url 'students:quiz_list_student_view_module' course.id module.id %}">Quizzes</p>
                </div>
            </div>
            <div id="module-content" style="width: 100%; height: 100%">
                {% block subcontent %}{% endblock %}
            </div>
        </div>
    </div>


{% endblock %}
