{% extends "base.html" %}
{% block title %}
    {{ object.title }}
{% endblock %}
{% block navigation %}
    <a href="{% url 'students:student_course_list' %}">Courses</a>/
    <a href="{% url 'students:student_course_detail' object.id %}">Modules</a>/
    {% if module %}
        <a href="{% url 'students:student_course_detail_module' object.id module.id %}">Module:{{ module.id }}</a>/
    {% endif %}
{% endblock %}

{% block h1 %}
    <h1>
        {{ module.title }}
    </h1>
{% endblock %}

{% block content %}
    <div class="navbar navbar-function-link">
        {% for module in object.modules.all %}
            <p data-link="{% url 'students:student_course_detail_module' object.id module.id %}">
                Module: {{ module.id }}<br>{{ module.title }}
            </p>
        {% endfor %}
    </div>

    <div class="modules">
        {% for content in module.contents.all %}
            {% with item=content.item %}
                <h2>{{ item.title }}</h2>
                {{ item.render }}
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}