{% extends "base.html" %}

{% block title %}My Courses{% endblock %}
{% block navigation %}
    <a href="{% url 'students:student_course_list' %}">Courses</a>/
{% endblock %}
{% block header %}
    <h1>My Courses</h1>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
    {% if object_list %}
        <div class="navbar navbar-side-view navbar-function-link">
            {% for course in object_list %}
                    <div class="col-12" style="width:100% !important;">
                <p data-link="{% url 'students:student_course_detail' course.id %}">
                    Course: {{ course.id }}<br>{{ course.title }}
                </p>
                                </div>
            {% endfor %}
        </div>
    {% else %}
                <div class="col-12">
        <p>
            You are not enrolled in any courses yet.
            <a href="{% url 'courses:course_list' %}">Browse courses</a>
        </p>
                </div>
    {% endif %}
        </div>
    </div>

{% endblock %}