{% extends "base.html" %}
{% block title %}My Courses{% endblock %}
{% block navigation %}
    <a href="{% url 'students:student_course_list' %}">Courses</a>/
{% endblock %}
{% block header %}
    <h1>My Courses</h1>
{% endblock %}

{% block content %}
    {% if object_list %}
        <div class="navbar navbar-function-link">
            {% for course in object_list %}
                <p data-link="{% url 'students:student_course_detail' course.id %}">
                    {{ course.title }}
                </p>
            {% endfor %}
        </div>
    {% else %}
        <p>
            You are not enrolled in any courses yet.
            <a href="{% url 'courses:course_list' %}">Browse courses</a>
        </p>
    {% endif %}
{% endblock %}