<div style="float: right; height: 100%">
    <div id="module-side-menu" class="side-menu border-l side-link-container"
         data-compress-function="compressSideMenu">
        <h3 class="hide-when-small">Modules:</h3>
        <button class="compress-button"><i class="fas fa-bars"></i></button>
    </div>
</div>

<script>
    postSetup.push(setup);

    function setup() {
        console.log('{{ module_list }}')
        loadNavigator(
            $('#module-side-menu'),
            [
                {% for m in module_list %}
                    {
                        href: '{% url 'students:student_course_detail_module' course.id m.id %}',
                        text: '{{ m.title }}',
                        icon: 'fas fa-book-open',
                        type: 'link',
                    },
                {% endfor %}
            ],
            false
        );
    }
</script>
