{% extends "base.html" %}
{% load course %}
{% block title %}
    Edit "{{ course.title }}"
{% endblock %}
{% block content %}
    {% with course=module.course %}
        <h1>Edit "{{ course.title }}"</h1>
        <h2>Question Choices</h2>
        <div class="plain-text-area">
            <h3>Edit Questions:</h3>
            <hr>
            <form method="post">
                {{ form }}
                {{ formset }}
                {{ formset.management_form }}
                {% csrf_token %}

                <div class="col-12 col-md-9 offset-md-3">
                    <p>
                        <button class="link-button" type="submit" value="Submit"><span
                                class="fas fa-check-circle"></span> Save Questions
                        </button>
                    </p>
                </div>
            </form>
        </div>

    {% endwith %}
{% endblock %}